<?xml version="1.0"?>
<robot name="two_wheel_car">
    <!-- Define materials used in the robot -->
    <material name="blue">
        <color rgba="0 0 0.6 1" />
    </material>
    <material name="gray">
        <color rgba="0.5 0.5 0.5 1" />
    </material>
    <link name="base_link">
        <visual>
            <geometry>
                <!-- Length, width, height(in meters) -->
                <box size="0.6 0.4 0.2" />
            </geometry>
            <!-- rpy means roll(rotation on x), pitch(rotation on y), yaw(rotation on z) -->
            <origin xyz="0 0 0.1" rpy="0 0 0" />
            <!-- Apply the blue material defined above -->
            <material name="blue" />
        </visual>
    </link>
    <link name="wheel_link">
        <visual>
            <geometry>
                <cylinder radius="0.1" length="0.05" />
            </geometry>
            <!-- adjust this after the joint -->
            <origin
                xyz="0 0 0.025" rpy="0 0 0" />
            <material name="gray" />
        </visual>
    </link>
    <joint name="wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="wheel_link" />
        <!-- first adjust joint's origin -->
        <origin xyz="0 0 0.2" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </joint>
</robot>